/*mensaje de error*/
.hide {
    display: none;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
}

main{
    padding: 3.5rem;
}

.color-blue{
    color: #011638;
}

/*Color de fondo del formulario*/
.custom-background{
    background-color: #f0f1f3;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.189);
}